{% extends 'base.html' %}

{% block title %}All Posts{% endblock %}

{% block content %}
<h2>All Posts</h2>
<ul>
    {% for post in posts %}
        <li>
            <h3><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h3>
                <p>{{ post.content}}</p> <!--safe is removed-->
            <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
            <a href="{{ url_for('edit_post', post_id=post.id) }}">Edit</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
