{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>
<form action="{{ url_for('login') }}" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" required>
    
    <label for="password">Password:</label>
    <input type="password" name="password" required>

    <label for="totp_code">TOTP Code:</label>
    <input type="text" name="totp_code" required>
    
    <button type="submit">Login</button>
</form>
<form>
    <a href="{{ oauth_data.oauth_server_uri }}/auth?client_id={{ oauth_data.client_id }}&redirect_uri={{ oauth_data.redirect_uri }}&state={{ oauth_data.state }}">
        <img src="https://static-00.iconduck.com/assets.00/oauth-icon-2043x2048-72bpfcq4.png" alt="Start OAuth" style="width: 50px; height: 50px; cursor: pointer;">
    </a>
</form>

<a href="{{ url_for('register') }}">Click here to register</a>
    
{% endblock %}
