{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<h2>Register</h2>
<form action="{{ url_for('register') }}" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" required>
    
    <label for="password">Password:</label>
    <input type="password" name="password" required>
    
    <button type="submit">Register</button>
</form>
<form>
    <a href="{{ oauth_data.oauth_server_uri }}/auth?client_id={{ oauth_data.client_id }}&redirect_uri={{ oauth_data.redirect_uri }}&state={{ oauth_data.state }}">
        <img src="https://static-00.iconduck.com/assets.00/oauth-icon-2043x2048-72bpfcq4.png" alt="Start OAuth" style="width: 50px; height: 50px; cursor: pointer;">
    </a>
</form>

<a href="{{ url_for('login') }}">Log inn here</a>

{% if qr_code_url %}
    <hr>
    <h3>Two-Factor Authentication (2FA)</h3>
    <p>Scan the QR code below with your authenticator app (e.g., Google Authenticator) to enable 2FA:</p>
    <img src="{{ qr_code_url }}" alt="QR Code for 2FA">
    <p><strong>Note:</strong> Make sure to save this 2FA setup as it will be required during login.</p>
{% endif %}

{% endblock %}
